/friedman_combined_adaboost_nn_xgb_accuracy.json
/friedman_loso_adaboost_nn_xgb_accuracy.json
/friedman_loso_adaboost_nn_xgb_f1.json
/friedman_ablation_real_keypoints_only_real_all_features_synthetic_keypoints_only_synthetic_all_features_all_keypoints_only_all_all_features_accuracy.json
/friedman_bayesian_loso_adaboost_nn_xgb_accuracy.json
/friedman_bayesian_loso_adaboost_nn_xgb_f1.json
